@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;

  .dark-grey {
    background-color: #363D45;
  }
  .yellow {
    background-color: #ECB02D;
  }
  .light-grey {
    background-color: #F6F6F6;
  }
  .dark-grey-2 {
    background-color: #3E4750;
  }

  .first-row {
    .vh-10 {
      height: 10vh;
    }
  }
  .second-row {
    .vh-90 {
      height: 90vh;
    }
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
